
.table {
  border-style: hidden !important
}
.timeline-md{
  background-color:#fdfdfd;
  margin:0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  position:relative;
  display:flow-root;
  border-style: hidden !important
}

.timeline-md:before{
  content:'';
  position:absolute;
  top:0px;
  left:50%;
  bottom:0px;
  transform:translateX(-50%);
  width:4px;
  background-color:#828282;
  border-style: hidden !important;
}

.timeline-md tbody{
  width:calc(100% - 80px);
  width:800px;
  max-width:800px;
  margin:auto;
  position:relative;
  left:-5px;
  display:table-cell;
  border-style: hidden !important;
}

.timeline-md tbody tr{
  width:calc(50% - 80px);
  float:left;
  padding:20px;
  clear:both;
  text-align:right;
  border-style: hidden !important
}

.timeline-md tbody tr:not(:first-child){
  border-style: hidden !important;
  margin-top:-60px
}

.timeline-md tbody tr td:first-child{
  border-style: hidden !important;
  font-size:12px;
  margin-bottom:12px;
  position:relative;
  color:#424242;
  display:block
}

.timeline-md tbody tr td:first-child:before{
  content:'';
  position:absolute;
  width:8px;
  height:8px;
  border:4px solid #424242;
  background-color:#fdfdfd;
  border-radius:100%;
  top:50%;
  transform:translateY(-50%);
  right:-73px;
  z-index:1000
}

.timeline-md tbody tr td:first-child.big:before{
  width:24px;
  height:24px;
  transform:translate(8px, -50%);
  background-color:#fdfdfd
}

.timeline-md tbody tr td{
  color:#828282;
  display:block;
  border-style: hidden !important
}

.timeline-md tbody tr td p{
  line-height:1.4em;
  border-style: hidden !important
}

.timeline-md tbody tr:nth-child(2n){
  text-align:left;float:right
}

.timeline-md tbody tr:nth-child(2n) td:first-child:before{
  left:-63px
}

.timeline-md tbody tr:nth-child(2n) td:first-child.big:before{
  transform:translate(-8px, -50%)
}
